.main {
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    font-family: 'Arial';
}

.currentWeatherDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currentWeatherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.fiveDayWeatherDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    

}

.fiveDayWeather {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    background-color: rgb(178, 168, 198);
    border-radius: 8px;
    gap: 12%;
    max-width: 70%;
    width: 70%;
    min-width: 15%;


}

.fiveDayWeatherInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 30rem;
}


.forecastIcons {
    width: 100px;
    height: auto;
}

.weatherIcons {
    width: 200px;
    height: auto
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
    .main {
      padding: 20px;
    }
  
    .currentWeatherDisplay {
      padding: 15px;
      margin-bottom: 15px;
    }
  
    .fiveDayWeatherDisplay {
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .main {
      padding: 10px;
    }
  
    .currentWeatherDisplay {
      padding: 10px;
      margin-bottom: 10px;
    }
  
    .fiveDayWeatherDisplay {
      padding: 10px;
    }
  }